
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "sass-rem";

$rem-baseline: 10px;

$font-pix:'VT323', monospace;

.index{
  text-align: center;
  width: 50%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-pix;
  h2{
    display: block;
    position: relative;
    padding-top: 5%;
    font-size: rem(65px);
    text-shadow: 5px 5px 2px #00a2ff;
  }
  p{
    display: block;
    position: relative;
    font-size: rem(35px);
    padding-top: 5%;
    text-shadow: 5px 5px 2px #00a2ff;
  }
  a{
    display: block;
    position: relative;
    border: 5px solid #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 2px;
    width:  300px;
    height: 50px;
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    text-decoration-line: none;
    &:hover{
      background: #00a2ff;
    }
  } 
}

@media screen and (max-width:769px){
  .index{
    overflow: scroll;
    width: 100%;
    a{
      margin-top: 35px;
      width: 320px;
    }
  }
}

@media screen and (max-width:320px){
  .index{
    width: 100%;
    img{
     width: 300px;
    }
  }
}