
.page{
    width: 100%;
}
.top-tags{ 
   display: none;
   position: absolute;
   top: 10px;
   font-size: 24px;
}
.bottom-tags{
   display: none;
   position: absolute;
   bottom: 20px;
   font-size: 24px;
}
.bottom-tag-html{
   display: none;
   position: absolute;
   bottom: 0px;
   font-size: 20px;
}

@media screen and (max-width:725px){
  .page{
   width: 100%;
   height: 125vh;
  }
}

/* Animation backgraund */

@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #00c3ff; }
  40%  { background: #0051ff; }
  60%  { background: #ff00c8; }
  80%  { background: #00c3ff; }
  100% { background: #33CCCC; }
}
body{
  background: #33CCCC; /* Fallback */
  animation: color 10s infinite linear;
  padding: 2em;
}