@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$font-pix:'VT323', monospace;

@import "sass-rem";

$rem-baseline: 10px;

.about{
    width: 50%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-pix;
    text-align: center;
    overflow: scroll;
    h2{
        font-size: rem(45px);
        margin-top: 2%;
        text-shadow: 5px 5px 2px #00a2ff;
    }
    p{
        width: 90%;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        font-size: rem(25px);
    }
    .img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
         img{
            width: 150px;
            height: 150px;
            margin-right: auto;
            margin-left: auto;
         }
    }
}

.about::-webkit-scrollbar {
    display: none;
}
.about{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



@media screen and (max-width:725px){
   
    .About{
        width: 100%;
        text-align: center;
        p{
          font-size: 18px;
         
        }
    }
}

@media screen and (max-width:320px){
    .About{
        width: 100%;
        text-align: center;
        p{
          font-size: 18px;
         
        }
    }
}