$link: #fff;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$font-pix:'VT323', monospace;

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 10px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.06);
   .logo{
     width: 150px;
     height: 60px;
   }
   #navbar{
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: $font-pix;
     li{
        list-style: none;
        position: relative;
     }
     .social_link{
        padding: 0 5px;
     }
     a{
        text-decoration: none;
        font-size: 20.8px;
        font-weight: 600;
        padding: 10px 6px;
        color: #fff;
        position: relative;
        display: block;
        transition: .5s;
        z-index: 1;
        .icon{
          width: 30px;
          padding: 0px 7px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 2px solid rgb(255, 255, 255,0.3);
            border-bottom: 2px solid rgb(255, 255, 255,0.3);
            border-radius: 5px;
            transform: scaleY(2);
            opacity: 0;
            transition: .3s;
          }
          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255,0.3);
            transform: scale(0);
            opacity: 0;
            transition: .3s;
            z-index: -1;
          }
          &:hover {
            color: #fff;
            &:before {
              transform: scaleY(1);
              opacity: 1;
            }
            &:after {
              transform: scaleY(1);
              opacity: 1;
            }
          }
          &:active{
            border-bottom: 5px solid rgb(255, 255, 255,0.5);
            color: rgb(255, 255, 255,0.5);
         }
     }
   }
}
#mobile{
  display: none;
  #icon_mobile{
      color: #fff;
      width: 20px;
      height: 20px;
  }
}

@media screen and (max-width:769px){
  #navbar{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 100px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background:linear-gradient(
      -119deg,
      #5581F1 0%,
      #1153FC 100%); 
    margin: 0;
    padding: 0  120px 530px  0;
    transition: 0.3s ease-in-out;
    li{
      width: 150px;
      height: 50px;
    }
  }
  #navbar.active{
     right: 0px; 
  }

  
 #mobile{
   display: block;
    #icon_mobile{
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
 }
}

@media screen and (max-width:320px){
  nav{
    width: 320px;
  }
}