$link: #fff;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$font-pix:'VT323', monospace;

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: rgb(0, 113, 189, 0.3);
   padding: 5px 28px;
   .logo{
     width: 200px;
     height: 60px;
   }
   #navbar{
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: $font-pix;
     li{
        list-style: none;
        padding: 0 10px;
     }
     .social_link{
        padding: 0 5px;
     }
     a{
        text-decoration: none;
        font-size: 25.8px;
        font-weight: 600;
        color: #fff;
        .icon{
          width: 20px;
          height: 20px;
          padding: 0px 7px;
        }
     }
    
   }
}