*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
     -119deg,
     #5581F1 0%,
     #1153FC 100%); 
}



@media screen and (max-width:769px){
  body{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body{
    overflow: scroll;
  }
}